*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #fff;
}
.wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.accordion{
    width: 500px;
    cursor: pointer;
}
.item{
    background-color: rgb(255, 255, 255);
    margin-bottom: 15px;
    padding: 30px 20px;
    border-radius: 0.5rem;
    border: 1px solid #BCC5D5;
}
.item span{
    font-size: 20px;
    color: #599BF0;
    font-weight: 700;
}
.item p{
    color: #525461;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h2{
    color: #1e6dd5;
    font-weight: 700;
}
.content{
    margin-top: 20px;
    font-weight: 400;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}